.country{
border: 2px solid green;
border-radius: 8px;
margin: 10px;
padding: 10px;
}
.country img{
width: 200px;
}
.country button{
width: 120px;
padding: 8px;
color: black;
background-color: aquamarine;
font-weight: 500;
}